<div class="container">
    <h1>Welcome to my About me page!</h1>
</div>
<br>
<br>

<section class="block">
    <div class="image-section">
<img src="Assets/images/RodrigoFoto.jpg" alt="my pic" width="300" height="400">
</div>
<p style="text-align: center">
    Hello, my name is Rodrigo Pacheco and I am a 21 years old Brazilian.
    I am a student at Centennial College and am halfway through this amazing program that is Software Engineering and watching
    how far I have come in terms of skills since the beginning 
    of the program has been such an amazing experience.
    Although sometimes this program can be quite demanding,
    I had no idea that I would be enjoying this much doing these projects and assignments.
</p>
<br>

    <a href="Assets/images/resume.pdf" target="_blank">
         <button class="btn"><i class="fa fa-download fa-lg"></i> My Resume</button> 
         
    </a>

</section>