<div class="container">
    <h1>Welcome to my Portfolio!</h1>
    <br>
    <br>
    <h2>Mission Statement</h2>
<img src="Assets/images/looking.jpg" alt="looking" width="500" height="250">
<p>
I want to become a developer and I am working very hard towards this goal that I set for myself.
I want to have fun in this journey and learn from my mistakes.
In the future, I want to look back at this moment in my life and have good memories about it.
I do not know what the future will bring, but I am excited to be doing what I am doing right now.
</p>
<center>
<a href="/about">About me</a>
<br>
<a href="/projects">My Projects</a>
<br>
<a href="/services">My Services</a>
<br>
<a href="/contact">Contact me</a>
</center>
</div>