<div class="container">
    <h1>Welcome to my Services page!</h1>
    <br>
    <h1>Here are some of the things that I can do</h1>
    <center>
    <ul>
        <li>Web Development  <i class="fas fa-palette fa-lg"></i></li>
        <br>
        <li>C Programming  <i class="fab fa-cuttlefish"></i></li>
        <br>
        <li>Java and JS Programming  <i class="fab fa-js-square fa-lg"></i></li>
        <br>
        <li>Database  <i class="fas fa-database fa-lg"></i></li>
        <br>
        <li>Linux  <i class="fab fa-linux fa-lg"></i></li>
    </ul>
    </center>
        <section class="gif">
    <iframe src="https://giphy.com/embed/L8K62iTDkzGX6" width="480" height="307" frameBorder="0" class="giphy-embed" allowFullScreen>
    </iframe><p><a href="https://giphy.com/gifs/web-development-L8K62iTDkzGX6"></a></p></section>
</div>