<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS SECTION-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<link rel="stylesheet" href="/Content/app.css">
<body>
  <!-- NAVIGATION SECTION-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Portfolio Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i>  Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/projects"><i class="fas fa-cog fa-lg"></i> Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fas fa-map fa-lg"></i>  Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i>  Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      <h2>Welcome to my <%= title %> page!</h2>
      
    </div>
    <div class="content"></div>

<!--BOTTOM NAVBAR-->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <h6>&copy; Copyright 2021 - COMP-229 - Rodrigo Pacheco</h6>
  </div>
</nav>

<!-- JS SECTION -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>